#
#	.NET CORE XMPP SERVER CONFIGURATION FILE
#

# HOSTNAME = "YOURHOST" -- IT CAN BE AN IP OR A DOMAIN
HOSTNAME = "myXmpp.test"
# PORT = 5222 -- TCP CONNECTION PORT DEFAULT VALUE IS 5222
PORT = 5222